<p-dialog
  [(visible)]="visible"
  [closable]="false"
  [modal]="false"
  [style]="{ width: '40rem', height: 'auto', borderRadius: '12px' }"
>
  <ng-template pTemplate="header">
    <div>
      <span class="text-xl font-bold">Promemoria uscita</span>
    </div>
  </ng-template>

  <ng-container *ngIf="stay">
    <div
      class="flex justify-content-between align-items-center mb-3"
      style="border: 1px solid white"
    >
      <div class="text-left">
        <button pButton label="Posticipa" class="p-button-sm p-button-success"></button>
      </div>

      <div class="text-right">
        <button
          pButton
          label="Chiudi"
          class="p-button-sm p-button-success"
          (click)="close()"
        ></button>
      </div>
    </div>
    <!-- RIGA PRINCIPALE -->
    <div class="flex justify-content-between align-items-center mb-3">
      <div>
        <span class="text-md text-color-secondary">Cane</span><br />
        <span class="text-lg font-semibold">{{ dogNames }}</span>
      </div>

      <div class="text-right">
        <span class="text-md text-color-secondary">Uscita prevista</span><br />
        <span class="text-lg font-semibold">
          {{ formatDateTime(stay.departure_date) }}
        </span>
      </div>
    </div>

    <div *ngIf="stay.notes" class="mb-4 mt-5">
      <span class="text-md text-color-secondary">Note</span>
      <div class="mt-1 p-2 border-round surface-200">
        {{ stay.notes }}
      </div>
    </div>
  </ng-container>
</p-dialog>
