<div class="kennel-wrapper">
  <div class="mb-3">
    <label style="display: block" class="font-semibold mb-2">Anno:</label>

    <p-datepicker
      [(ngModel)]="selectedYearDate"
      view="year"
      dateFormat="yy"
      [showIcon]="true"
      (onSelect)="onYearSelected($event)"
    />
  </div>

  <p-tabs [value]="selectedArea?.id" (valueChange)="onAreaChange($event?.toString() || '')">
    <p-tablist>
      @for (area of areas; track area.id) {
      <p-tab [value]="area.id">{{ area.nome_area.toUpperCase() }}</p-tab>
      }
    </p-tablist>
  </p-tabs>

  @if (loading) {
  <div class="flex justify-content-center align-items-center" style="height: 75vh">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" animationDuration=".8s" />
  </div>
  } @else {
  <div class="legend flex align-items-center gap-3 my-3">
    <div class="flex align-items-center gap-1">
      <span class="legend-box covered"></span>
      <span>Box coperto</span>
    </div>
    <div class="flex align-items-center gap-1">
      <span class="legend-box double"></span>
      <span>Box doppio</span>
    </div>
  </div>
  <app-kennel-table
    [rows]="rows"
    [boxes]="boxes"
    [data]="data"
    (selectCell)="onSelectCell($event)"
  />
  }

  <app-kennel-dialog
    *ngIf="showDialog"
    [showDialog]="showDialog"
    [pendingBox]="pendingBox"
    [pendingDay]="pendingDay"
    [availableAreas]="areas"
    [availableBoxes]="allBoxes"
    [availableDogs]="availableDogs"
    (confirm)="onConfirmDialog()"
    (close)="showDialog = false"
    (requestMove)="openMoveDialog($event)"
  />

  <app-kennel-move-dialog
    [show]="showMoveDialog"
    [conflictOccupation]="moveDialogData?.conflictOccupation"
    [conflictDog]="moveDialogData?.conflictDog"
    [availableBoxes]="allBoxes"
    [availableAreas]="areas"
    [targetBox]="moveDialogData?.targetBox"
    [targetDog]="moveDialogData?.targetDog"
    [targetStart]="moveDialogData?.targetStart"
    [targetEnd]="moveDialogData?.targetEnd"
    (close)="showMoveDialog = false"
    (moved)="onMoveCompleted()"
  ></app-kennel-move-dialog>
</div>
