.legend {
  font-size: 0.9rem;
  color: #fff;

  .legend-box {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid #ccc;

    &.covered {
      background-color: #2196f3;
    }

    &.double {
      background-color: #8e24aa;
    }
  }
}
