:host ::ng-deep .p-dialog-header-icons,
:host ::ng-deep .p-dialog-header-actions {
  display: none !important;
}
.paid-cell {
  background-color: green;
  font-weight: 600;
}

:host ::ng-deep .p-card-body {
  margin: 0;
  padding: 0;
  width: 100%;
}

// @media screen and (max-width: 768px) {
//   .mobile-compact-grid {
//     & > .col-12,
//     & > .col-6 {
//       padding-top: 0.2rem !important;
//       padding-bottom: 0.2rem !important;
//     }
//   }
// }
