:host ::ng-deep .p-dialog-header-icons,
:host ::ng-deep .p-dialog-header-actions {
  display: none !important;
}
.paid-cell {
  background-color: green;
  font-weight: 600;
}

:host ::ng-deep .p-card-body {
  margin: 0;
  padding: 0;
  width: 100%;
}
