<p-table
  [value]="rows"
  scrollable
  scrollHeight="75vh"
  styleClass="p-datatable-sm p-datatable-gridlines kennel-table"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Data</th>
      @for (box of boxes; track box.id) {
      <th [ngStyle]="getHeaderStyle(box)">{{ box.number }}</th>
      }
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-row>
    @if (row.kind === 'month') {
    <tr class="month-sep" (click)="toggleMonth(row.key)">
      <td [attr.colspan]="boxes.length + 1" class="month-header">
        <i class="pi" [ngClass]="expandedMonths[row.key] ? 'pi-caret-down' : 'pi-caret-right'"></i>
        <span class="month-label mx-2">{{ row.label }}</span>
        <i class="pi" [ngClass]="expandedMonths[row.key] ? 'pi-caret-down' : 'pi-caret-left'"></i>
      </td>
    </tr>
    } @if (row.kind === 'day' && expandedMonths[row.monthKey]) {
    <tr [@rowAnimation] [ngStyle]="getRowStyle(row)">
      <td [pTooltip]="getTooltip(row)" tooltipPosition="top" [showDelay]="200">
        {{ row.display }}
      </td>

      @for (box of boxes; track box.id) {
      <td
        [ngStyle]="getCellStyle(row, box)"
        [class.cursor-pointer]="!isDisabledDay(row)"
        (click)="!isDisabledDay(row) && onCellClick(row.key, box)"
        [pTooltip]="getTooltip(row)"
        tooltipPosition="top"
      >
        {{ data[row.key]?.[box.number] || '' }}
      </td>
      }
    </tr>
    }
  </ng-template>
</p-table>
