<!-- <app-navbar *ngIf="!isLoginPage"></app-navbar>

<div>
  <router-outlet></router-outlet>
</div>

<ng-container *ngFor="let dog of dogs; let i = index">
  <app-dialog-reminder
    *ngIf="showReminder[i]"
    [(visible)]="showReminder[i]"
    [stay]="stay"
    [dogs]="[dog]"
  ></app-dialog-reminder>
</ng-container> -->

<app-navbar *ngIf="!isLoginPage"></app-navbar>

<router-outlet></router-outlet>

<app-dialog-reminder
  *ngIf="currentStay"
  [(visible)]="dialogVisible"
  [stay]="currentStay"
  (visibleChange)="!$event && onDialogClosed()"
></app-dialog-reminder>
