<div class="page-container">
  <app-page-header title="Modifica Soggiorno"></app-page-header>
  <app-stay-form
    [model]="model"
    [ownerOptions]="ownerOptions"
    [dogOptions]="dogOptions"
    [areaOptions]="areaOptions"
    (areaChange)="onAreaSelected($event)"
    (boxChange)="onBoxSelected($event)"
    (ownerChange)="onOwnerSelected($event)"
    (dogsChange)="onDogsChanged()"
    (arrivalChange)="onArrivalDateChange()"
    (departureChange)="onDepartureDateChange()"
    (depositChange)="onDepositChange()"
    (save)="onSubmit($event)"
  ></app-stay-form>
</div>
<p-dialog
  header=""
  [(visible)]="showConflictDialog"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '30rem' }"
>
  <div class="p-fluid">
    <h2 class="mt-0 mb-4 text-center">
      {{ isDoubleBoxConflict ? 'Box doppio occupato da:' : 'Box occupato da:' }}
    </h2>

    <div class="field mb-3">
      <label>Cane</label>
      <p-select
        class="w-full"
        [options]="[{ label: getConflictDogName(), value: 'x' }]"
        [(ngModel)]="conflictSelectValue"
        [ngModelOptions]="{ standalone: true }"
        disabled
      ></p-select>
    </div>

    <div class="field mb-3">
      <label>Dal</label>
      <p-select
        class="w-full"
        [options]="[{ label: getConflictFrom(), value: 'x' }]"
        [(ngModel)]="conflictSelectValue"
        [ngModelOptions]="{ standalone: true }"
        disabled
      ></p-select>
    </div>

    <div class="field mb-3">
      <label>Al</label>
      <p-select
        class="w-full"
        [options]="[{ label: getConflictTo(), value: 'x' }]"
        [(ngModel)]="conflictSelectValue"
        [ngModelOptions]="{ standalone: true }"
        disabled
      ></p-select>
    </div>
    <div *ngIf="isDoubleBoxConflict" class="text-center mt-4 mb-2 text-sm text-gray-300">
      <h3>
        Vuoi comunque aggiungere
        <strong>{{ getIncomingDogName() }}</strong>
        a questo box?
      </h3>
    </div>
  </div>

  <!-- <ng-template pTemplate="footer">
    <p-button label="Conferma" class="p-button-text" (click)="onConflictDialogClose()"></p-button>
  </ng-template> -->
  <ng-template pTemplate="footer">
    <ng-container *ngIf="isDoubleBoxConflict; else singleBoxFooter">
      <p-button label="No" class="p-button-text" (click)="onConflictCancel()"></p-button>
      <p-button label="Sì" class="p-button-text" (click)="onConflictConfirm()"></p-button>
    </ng-container>

    <ng-template #singleBoxFooter>
      <p-button label="Conferma" class="p-button-text" (click)="onConflictDialogClose()"></p-button>
    </ng-template>
  </ng-template>
</p-dialog>
