@if (showCreate) {
<div class="table-header my-3 text-right">
  <button pButton icon="pi pi-plus" label="Aggiungi Record" (click)="create.emit()"></button>
</div>
}

<div class="table-wrapper">
  <p-table
    [value]="data"
    [loading]="loading"
    [rows]="25"
    [paginator]="true"
    [rowsPerPageOptions]="[25, 50, 75]"
    [tableStyle]="{ 'min-width': '1000px' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem"></th>

        <th style="white-space: nowrap" *ngFor="let col of columns">
          {{ columnLabels[col] || col }}
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
      <tr>
        <td>
          <button
            pButton
            icon="{{ isRowExpanded(row) ? 'pi pi-chevron-down' : 'pi pi-chevron-right' }}"
            class="p-button-text p-button-sm"
            (click)="toggleRow(row)"
          ></button>
        </td>
        @for (c of columns; track c) { @if (isOwnerColumn(c)) {
        <td
          (mouseenter)="handleCellHover(c, row)"
          (mouseleave)="handleCellLeave(c, row)"
          (click)="handleCellClick(c, row)"
          [ngStyle]="getClickableStyle()"
        >
          {{ getCellValue(row, c) }}
        </td>
        } @else if (isDocumentsColumn(c)) {
        <td style="white-space: nowrap; cursor: pointer" (click)="openDocumentsDialog(row)">
          @let docs = getDocuments(row); @if (docs.length > 0) { @for (doc of docs; track $index) {
          <div style="color: #42a5f5">
            {{ getFileLabel($index, doc) }}
          </div>
          } } @else {
          <span>Nessun documento</span>
          }
        </td>
        } @else {
        <td style="white-space: nowrap" [ngClass]="{ 'paid-cell': isPaidCell(c, row) }">
          @if (isCurrencyColumn(c)) {
          {{ getCellValue(row, c) | currency : 'EUR' : 'symbol' : '1.2-2' : 'it-IT' }}
          } @else {
          {{ getCellValue(row, c) }}
          }
        </td>
        } }
      </tr>

      @if (isRowExpanded(row)) {
      <tr>
        <td [attr.colspan]="columns.length + 1">
          <div class="flex gap-2 ml-5 pl-4 justify-content-start">
            <button
              pButton
              icon="pi pi-pencil"
              label="Modifica"
              class="p-button-text p-button-sm p-button-warning"
              (click)="edit.emit(row)"
            ></button>

            <!-- <button
              pButton
              icon="pi pi-trash"
              label="Elimina"
              class="p-button-text p-button-sm p-button-danger"
              (click)="delete.emit(row)"
            ></button> -->
          </div>
        </td>
      </tr>
      }
    </ng-template>
  </p-table>

  <p-dialog
    header="Documenti"
    [(visible)]="showDocsDialog"
    [modal]="true"
    [style]="{ width: '70vw' }"
  >
    <p-carousel
      [value]="currentDocs"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="true"
      [autoplayInterval]="0"
    >
      <ng-template pTemplate="item" let-doc>
        <div class="text-center">
          <img class="img" [src]="getDocumentUrl(currentRow, doc)" />
        </div>
      </ng-template>
    </p-carousel>
  </p-dialog>
</div>
