<p-card class="card">
  <form class="p-fluid" #f="ngForm" (ngSubmit)="f.form.markAllAsTouched(); onSubmit()" novalidate>
    <div class="text-right my-3">
      <button pButton label="Salva" icon="pi pi-check" type="submit"></button>
    </div>

    <div class="grid justify-content-start">
      <div class="col-12 md:col-6">
        <label>Nome</label>
        <input
          pInputText
          [(ngModel)]="localModel.nome"
          name="nome"
          required
          #nome="ngModel"
          class="w-full"
        />
        @if(nome.invalid && nome.touched){
        <small class="p-error"> Questo campo è obbligatorio</small>
        }
      </div>

      <div class="col-12 md:col-6">
        <label>Cognome</label>
        <input
          pInputText
          [(ngModel)]="localModel.cognome"
          name="cognome"
          required
          #cognome="ngModel"
          class="w-full"
        />
        @if(cognome.invalid && cognome.touched){
        <small class="p-error"> Questo campo è obbligatorio </small>
        }
      </div>

      <div class="col-12 md:col-6">
        <label>Codice fiscale</label>
        <input
          pInputText
          [(ngModel)]="localModel.codice_fiscale"
          name="codice_fiscale"
          required
          #codice_fiscale="ngModel"
          class="w-full"
        />
        @if(codice_fiscale.invalid && codice_fiscale.touched){
        <small class="p-error"> Questo campo è obbligatorio </small>
        }
      </div>

      <div class="col-12 md:col-6">
        <label>Luogo di nascita</label>
        <input
          pInputText
          [(ngModel)]="localModel.luogo_di_nascita"
          name="luogo_di_nascita"
          required
          #luogo_di_nascita="ngModel"
          class="w-full"
        />
        @if(luogo_di_nascita.invalid && luogo_di_nascita.touched){
        <small class="p-error"> Questo campo è obbligatorio</small>
        }
      </div>

      <div class="col-12 md:col-6">
        <label>Data di nascita</label>
        <p-datePicker
          class="date"
          [(ngModel)]="localModel.data_di_nascita"
          name="data_di_nascita"
          required
          #data_di_nascita="ngModel"
          dateFormat="dd/mm/yy"
        />
        @if (data_di_nascita.invalid && data_di_nascita.touched){
        <small class="p-error">Questo campo è obbligatorio</small>
        }
      </div>

      <div class="col-12 md:col-6">
        <label>Provincia</label>
        <input
          pInputText
          [(ngModel)]="localModel.provincia"
          name="provincia"
          required
          #provincia="ngModel"
          class="w-full"
        />
        @if (provincia.invalid && provincia.touched) {
        <small class="p-error">Questo campo è obbligatorio</small>
        }
      </div>

      <div class="col-12 md:col-6">
        <label>Residenza</label>
        <input
          pInputText
          [(ngModel)]="localModel.residenza"
          name="residenza"
          required
          #residenza="ngModel"
          class="w-full"
        />
        @if (residenza.invalid && residenza.touched) {
        <small class="p-error">Questo campo è obbligatorio</small>
        }
      </div>

      <div class="col-12 md:col-6">
        <label>Indirizzo</label>
        <input
          pInputText
          [(ngModel)]="localModel.indirizzo"
          name="indirizzo"
          required
          #indirizzo="ngModel"
          class="w-full"
        />
        @if (indirizzo.invalid && indirizzo.touched) {
        <small class="p-error">Questo campo è obbligatorio</small>
        }
      </div>

      <div class="col-12 md:col-6">
        <label>N° carta identità</label>
        <input
          pInputText
          [(ngModel)]="localModel.n_carta_identita"
          name="n_carta_identita"
          required
          #n_carta_identita="ngModel"
          class="w-full"
        />
        @if(n_carta_identita.invalid && n_carta_identita.touched){
        <small class="p-error">Questo campo è obbligatorio</small>
        }
      </div>

      <div class="col-12 md:col-6">
        <label>Rilascio carta</label>
        <p-datePicker
          class="date"
          [(ngModel)]="localModel.rilascio_carta"
          name="rilascio_carta"
          required
          #rilascio_carta="ngModel"
          dateFormat="dd/mm/yy"
        />
        @if(rilascio_carta.invalid && rilascio_carta.touched) {
        <small class="p-error">Questo campo è obbligatorio</small>
        }
      </div>

      <div class="col-12 md:col-6">
        <label>Scadenza carta</label>
        <p-datePicker
          class="date"
          [(ngModel)]="localModel.scadenza_carta"
          name="scadenza_carta"
          required
          #scadenza_carta="ngModel"
          dateFormat="dd/mm/yy"
          [disabled]="!localModel.rilascio_carta"
          [minDate]="localModel.rilascio_carta"
        />
        @if(scadenza_carta.invalid && scadenza_carta.touched) {
        <small class="p-error">Questo campo è obbligatorio</small>
        }
      </div>

      <div class="col-12 md:col-6">
        <label>Cellulare</label>
        <input
          pInputText
          [(ngModel)]="localModel.cell"
          name="cell"
          required
          #cell="ngModel"
          class="w-full"
          inputmode="numeric"
          (beforeinput)="onBeforeInput($event)"
        />
        @if(cell.invalid && cell.touched) {
        <small class="p-error">Questo campo è obbligatorio</small>
        }
      </div>

      <div class="col-12 md:col-6">
        <label>Email</label>
        <input
          pInputText
          [(ngModel)]="localModel.email"
          name="email"
          required
          email
          #email="ngModel"
          class="w-full"
        />
        @if(email.invalid && email.touched) {
        <small class="p-error">Questo campo è obbligatorio</small>
        }
      </div>

      <div class="col-12 md:col-6">
        <label>Note</label>
        <textarea
          pInputTextarea
          [(ngModel)]="localModel.note"
          name="extra"
          rows="5"
          class="w-full"
        ></textarea>
      </div>

      <div class="col-12 md:col-12 mb-5">
        <label>Documenti (PDF/JPG/PNG)</label>

        <div class="upload-wrapper" [class.needs-upload]="uploadNeeded()">
          <p-fileUpload
            #fu
            name="documents"
            mode="advanced"
            [customUpload]="true"
            (uploadHandler)="onFilesPicked($event.files); fu.clear(); uploadNeeded.set(false)"
            (onSelect)="onFilesPicked($event.files)"
            [multiple]="true"
            chooseLabel="Scegli file"
            [showUploadButton]="true"
            [showCancelButton]="false"
            uploadLabel="Carica"
          />
        </div>
      </div>
      @if( localModel.documents?.length){

      <div class="col-12 mb-5">
        @for (doc of localModel.documents; track doc) {
        <div class="existing-wrapper">
          <div class="url cursor-pointer" (click)="openDocumentsDialog()">
            {{ doc }}
          </div>

          <button
            type="button"
            pButton
            icon="pi pi-trash"
            class="p-button-text p-button-danger"
            (click)="askDeleteDocument(doc)"
          ></button>
        </div>
        }
      </div>
      }
    </div>

    <div class="grid align-items-center mb-4">
      <div class="col-4">
        <button
          type="button"
          pButton
          label="Anteprima PDF"
          (click)="previewVisible.set(true)"
        ></button>
      </div>

      <div class="col-4 col-offset-4 text-right">
        <button
          style="font-size: 0.9rem"
          type="button"
          pButton
          label="Richiedi firma"
          class="p-button-sm"
          (click)="requestSign()"
        ></button>
      </div>
    </div>

    <div class="text-center mb-4">
      <h2 class="m-0">Norme e Regolamento del Canile</h2>
    </div>

    <div class="grid">
      <div class="col-12">
        <app-terms-conditions [model]="localModel"></app-terms-conditions>
      </div>

      <div class="col-6">
        <div class="data-box"><strong>Data:</strong> {{ displayDate() | date : 'dd/MM/yyyy' }}</div>
      </div>

      <div class="col-6">
        <div class="firma-box">
          @if (firmaUrl) {
          <img [src]="firmaUrl" class="firma-img" />
          } @else {
          <span>Firma</span>
          }
        </div>
      </div>
    </div>
  </form>
</p-card>

<app-documents-dialog
  [showDocsDialog]="showDocsDialog()"
  (showDocsDialogChange)="showDocsDialog.set($event)"
  [currentDocs]="currentDocs()"
  [currentRow]="localModel"
  [getDocumentUrl]="getFileUrl.bind(this)"
></app-documents-dialog>

<app-confirm-dialog
  [visible]="confirmVisible()"
  (visibleChange)="confirmVisible.set($event)"
  title="Conferma eliminazione"
  [message]="'Sei sicuro di voler cancellare questo documento?'"
  (confirmed)="onConfirmDelete($event)"
></app-confirm-dialog>

<app-preview-dialog
  [visible]="previewVisible()"
  (visibleChange)="previewVisible.set($event)"
  [model]="localModel"
  [displayDate]="displayDate()"
  [firmaUrl]="firmaUrl"
></app-preview-dialog>
