.legend {
  font-size: 0.9rem;
  color: #fff;

  .legend-box {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid #ccc;

    &.covered {
      background-color: #2196f3;
    }
    &.double {
      background-color: #8e24aa;
    }
  }
}

.dialog-pair-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  gap: 20px;
  transform: translate(-50%, -50%);
  z-index: 2000;
}

.move-dialog .p-dialog-mask {
  display: none !important;
}

.move-dialog {
  z-index: 2001 !important;
}
