.pdf-page {
  background: #ffffff;
  color: #000000;

  width: 210mm;
  min-height: 297mm;

  margin: 2rem auto;
  padding: 10mm 25mm 20mm;

  font-size: 14pt;
  line-height: 1.45;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
}
:host ::ng-deep .preview-dialog .p-dialog-close-button {
  display: none !important;
}

.title {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 0;
}
.sub-title {
  font-size: 2rem;
}
.text {
  font-size: 1.2rem;
  font-size: 1.2rem;
}

.regolamento-list {
  padding-left: 1.2rem;
  margin: 1.5rem 0;
  list-style-type: disc;
  font-size: 20px;
}
li {
  margin-bottom: 1rem;
}

.regolamento-list li {
  margin-bottom: 0.75rem;
  line-height: 1.45;
}

.data-box {
  font-size: 13pt;
}

.firma-box {
  border-bottom: 1px solid #000000;
  min-height: 0px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 13pt;
  color: #000000;
}

.firma-img {
  max-height: 4rem;
  max-width: 100%;
  filter: invert(1) brightness(1) contrast(1);
}

.dialog-footer {
  margin-top: 2.5rem;
  padding-top: 1rem;
  border-top: 1px solid #000000;

  display: flex;
  justify-content: flex-end;
}

:host ::ng-deep .p-dialog {
  background: transparent;
  box-shadow: none;
}

:host ::ng-deep .p-dialog-content {
  background: #2b2b2b;
  padding: 0;
  overflow-y: auto;
  overflow-x: auto;
}

:host ::ng-deep .p-dialog-header {
  background: #2b2b2b;
  color: #ffffff;
  border-bottom: none;
}

:host ::ng-deep .p-dialog-header-icon {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .pdf-page {
    margin: 0.5rem auto;
  }
}
