<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [closable]="true"
  [dismissableMask]="true"
  [closeOnEscape]="true"
  styleClass="preview-dialog"
  [style]="{ width: 'auto', 'max-width': '100vw' }"
  [breakpoints]="{ '960px': '95vw', '640px': '100vw' }"
  (onHide)="visibleChange.emit(false)"
>
  <ng-template pTemplate="header">
    <div class="flex justify-content-between align-items-center w-full">
      <h3>Anteprima Regolamento</h3>
      <button pButton label="Scarica PDF" icon="pi pi-download" (click)="downloadPDF_JS()"></button>
    </div>
  </ng-template>
  <div #pdfContent class="pdf-page">
    <h2 class="title text-primary text-center mb-0">Il Pioppeto</h2>
    <h3 class="text-center sub-title mb-0">Norme e Regolamento</h3>

    <div class="grid">
      <div class="col-12">
        <app-terms-conditions [model]="model" [isPdf]="true" class="block mb-5"></app-terms-conditions>
      </div>

      <div class="col-6">
        <div class="data-box">
          <strong>Data:</strong> <strong>Data:</strong> {{ displayDate | date : 'dd/MM/yyyy' }}
        </div>
      </div>

      <div class="col-6 flex justify-content-end">
        <div class="firma-box text-right">
          @if (firmaUrl) {
          <img [src]="firmaUrl" class="firma-img" />
          } @else {
          <span>Firma</span>
          }
        </div>
      </div>
    </div>
  </div>
</p-dialog>
