@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

* {
  box-sizing: border-box;
}
// FORM CARD
.card {
  height: fit-content;
  overflow-y: auto;
  min-height: 80vh;
  max-height: 81vh;

  scrollbar-width: none;

  -ms-overflow-style: none;
}

.card::-webkit-scrollbar {
  display: none;
}

// TABLE STYLE
.p-datatable-table-container {
  overflow-y: auto !important;
  overflow-x: auto !important;
  -ms-overflow-style: none;
}

.p-datatable-table-container::-webkit-scrollbar {
  height: 14px !important;
  width: 0px !important;
}

.p-datatable-table-container::-webkit-scrollbar-thumb:vertical,
.p-datatable-table-container::-webkit-scrollbar-track:vertical,
.p-datatable-table-container::-webkit-scrollbar-corner {
  background: transparent !important;
  display: none !important;
}

.p-datatable-table-container::-webkit-scrollbar-thumb:horizontal {
  background-color: #333 !important;
  border-radius: 10px !important;
  visibility: visible !important;
}

.p-datatable-table-container::-webkit-scrollbar-track:horizontal {
  visibility: visible !important;
}
// DOCUMENT DIALOG
.documents-dialog [data-pc-section='headeractions'] {
  display: none !important;
}

.documents-dialog .img {
  max-width: 50%;
}

// INPUT STYLE
.p-select .p-select-label {
  color: #ffffff;
}

.p-select .p-select-dropdown {
  color: #ffffff;
}

.p-select .p-select-dropdown svg {
  fill: #ffffff;
}

.p-multiselect .p-multiselect-label {
  color: #ffffff;
}

.p-multiselect.p-multiselect-filled .p-multiselect-label {
  color: #ffffff;
}
