<app-loading-spinner [visible]="loading" [height]="tableHeight || '70vh'" />
@if (!loading) {
<div class="table-wrapper">
  <p-table
    [value]="data"
    [rows]="50"
    [paginator]="true"
    [scrollable]="true"
    [scrollHeight]="tableScrollHeight"
    [rowsPerPageOptions]="[25, 50, 75]"
    styleClass="p-datatable-striped overflow-x-auto"
    [style]="tableHeight ? { height: tableHeight } : {}"
  >
    <ng-template pTemplate="header">
      <tr class="white-space-nowrap">
        <th>
          @if (showExport) {
          <button
            pButton
            icon="pi pi-download"
            class="p-button-text p-button-sm p-button-success"
            (click)="export.emit()"
            title="Esporta PDF"
          ></button>
          }
        </th>
        @for (col of activeConfigs; track col.key) {
        <th>
          {{ col.label }}
        </th>
        }
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
      <tr>
        <td>
          <button
            pButton
            icon="pi pi-pencil"
            class="p-button-text p-button-sm"
            (click)="edit.emit(row)"
          ></button>
        </td>

        @for (c of activeConfigs; track c.key) {

        @if (c.type === 'link') {
        <td
          class="hover:underline"
          (click)="handleCellClick(c, row)"
          [ngStyle]="getClickableStyle()"
        >
          {{ getCellValue(row, c.key) }}
        </td>
        } @else if (c.type === 'array_link') {
        <td [ngStyle]="getClickableStyle()">
          @for (itemName of getDogArray(row, c.key); track $index) {
          <span (click)="handleDogClick(c, row, $index)" class="hover:underline">{{ itemName }}</span
          >@if (!$last) {<span>, </span>} }
        </td>
        }
        @else if (c.type === 'documents') { @let docs = getDocuments(row);
        <td
          class="white-space-nowrap"
          [class.cursor-pointer]="docs.length > 0"
          (click)="docs.length > 0 && openDocumentsDialog(row)"
          [ngStyle]="docs.length > 0 ? getClickableStyle() : null"
        >
          @if (docs.length > 0) {
          <span>Visualizza documenti</span>
          } @else {
          <span>Nessun documento</span>
          }
        </td>
        }

        @else if (c.type === 'signature') {
        <td>
          @if (row[c.key]) {
          <img [src]="getSignatureUrl(row)" class="signature-thumb" alt="Firma" />
          } @else {
          <span></span>
          }
        </td>
        } @else if (c.type === 'boolean') {
        <td>
          @if (isTruthyBoolean(row, c.key)) {
          <span>Sì</span>
          } @else {
          <span>No</span>
          }
        </td>
        } @else {
        <td class="white-space-nowrap" [ngClass]="{ 'paid-cell': isPaidCell(c.key, row) }">
          @if (c.type === 'currency') {
          {{ getCellValue(row, c.key) | currency : 'EUR' : 'symbol' : '1.2-2' : 'it-IT' }}
          } @else {
          {{ getCellValue(row, c.key) }}
          }
        </td>
        } }
      </tr>
    </ng-template>
    @if(showFooter){
    <ng-template pTemplate="footer">
      <tr>
        <td>
          <b>Totali:</b>
        </td>
        <td [attr.colspan]="columns.indexOf('total_due')"></td>
        <td>
          <b>{{ totals | currency : 'EUR' : 'symbol' : '1.2-2' : 'it-IT' }}</b>
        </td>
        @if (columns.indexOf('total_due') < columns.length - 1) {
        <td [attr.colspan]="columns.length - columns.indexOf('total_due') - 1"></td>
        }
      </tr>
    </ng-template>
    }
  </p-table>

  <app-documents-dialog
    [(showDocsDialog)]="showDocsDialog"
    [currentDocs]="currentDocs"
    [currentRow]="currentRow"
    [getDocumentUrl]="getDocumentUrl.bind(this)"
    (downloadDocumentsPdf)="downloadDocumentsPdf()"
  ></app-documents-dialog>
</div>
}
