:host ::ng-deep .p-datatable {
  animation: fadeInTable 0.5s ease-in;
}
:host ::ng-deep .p-datatable-wrapper {
  /* mantiene lo scroll */
  overflow-y: auto;

  /* Firefox */
  scrollbar-width: none;

  /* IE / Edge legacy */
  -ms-overflow-style: none;
}

/* Chrome / Safari / Edge */
:host ::ng-deep .p-datatable-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@keyframes fadeInTable {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.img {
  max-width: 50%;
  border-radius: 8px;
}

.paid-cell {
  color: rgb(52, 211, 153);
}

.signature-thumb {
  max-height: 50px;
  max-width: 100px;
  object-fit: contain;
}

:host ::ng-deep .documents-dialog [data-pc-section='headeractions'] {
  display: none !important;
}

.document-link {
  color: #42a5f5;
  cursor: pointer;
}
