:host ::ng-deep .p-datatable {
  animation: fadeInTable 0.5s ease-in;
}
:host ::ng-deep .p-datatable-wrapper {
  overflow-y: auto;

  scrollbar-width: none;

  -ms-overflow-style: none;
}

:host ::ng-deep .p-datatable-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@keyframes fadeInTable {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.paid-cell {
  color: rgb(52, 211, 153);
}

.signature-thumb {
  max-height: 50px;
  max-width: 100px;
  object-fit: contain;
}

.document-link {
  color: rgb(52, 211, 153);
  cursor: pointer;
}
