:host ::ng-deep .p-menubar {
  border-radius: 0;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
  background-color: #212121;
  height: 8vh;
}

.nav-link {
  color: #26a69a;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.1s ease;
  display: inline-block;
}

.active-link {
  color: #fff;
  transform: scale(1.1);
  font-size: 18px;
  border-bottom: 4px solid var(--p-tabs-tab-active-color);
}
