:host ::ng-deep p-datepicker .p-inputtext {
  width: 100% !important;
}

label {
  display: block;
  margin-bottom: 1rem;
}

.col-12 {
  height: 110px;
}

// p-card {
//   min-height: 80vh !important;
//   max-height: 80vh !important;
//   overflow-y: auto;
// }
