<p-dialog
  [header]="dialogTitle()"
  [visible]="showDialog()"
  (visibleChange)="!$event && close.emit()"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '35rem', borderRadius: '12px' }"
  contentStyle="padding: 2rem; background: #1e1e1e; color: #fff"
>
  <div class="p-fluid flex flex-column gap-4">
    @if (editingOccupationId) {
    <div>
      <label class="font-semibold mb-2 block">Area</label>
      <p-select
        [options]="availableAreas()"
        [(ngModel)]="selectedArea"
        (onChange)="filterBoxes()"
        optionLabel="nome_area"
        dataKey="id"
        placeholder="Seleziona area"
        class="w-full"
      ></p-select>
    </div>
    }

    <div>
      <label class="font-semibold mb-2 block">Box</label>
      <p-select
        [options]="filteredBoxes"
        [(ngModel)]="pendingBox"
        optionLabel="label"
        dataKey="id"
        placeholder="Seleziona un box"
        class="w-full"
      />
    </div>

    <div>
      <label class="font-semibold mb-2 block">Cane</label>

      @if(!isMultiMode) {
      <p-select
        [options]="availableDogs()"
        [(ngModel)]="selectedDog"
        optionLabel="name"
        class="w-full"
        placeholder="Seleziona un cane"
        disabled="true"
      ></p-select>
      } @if(isMultiMode) {
      <p-multiSelect
        [options]="availableDogs()"
        [(ngModel)]="selectedDogs"
        optionLabel="name"
        display="chip"
        class="w-full"
        placeholder="Seleziona fino a 2 cani"
        [disabled]="selectedDogs.length <= 1"
      ></p-multiSelect>
      }
    </div>

    <div>
      <label class="font-semibold mb-2 block">Data di arrivo</label>
      <p-datePicker
        [(ngModel)]="startDate"
        dateFormat="dd/mm/yy"
        showIcon="true"
        locale="it"
        appendTo="body"
        class="w-full"
        disabled="true"
      />
    </div>

    <div>
      <label class="font-semibold mb-2 block">Data di partenza</label>
      <p-datePicker
        [(ngModel)]="endDate"
        dateFormat="dd/mm/yy"
        showIcon="true"
        appendTo="body"
        class="w-full"
        disabled="true"
      />
    </div>

    <div class="flex justify-content-end gap-3 mt-4">
      <button
        pButton
        label="Annulla"
        icon="pi pi-times"
        class="p-button-primary"
        (click)="close.emit()"
      ></button>

      <button
        pButton
        label="Conferma"
        icon="pi pi-check"
        class="p-button-success"
        (click)="confirmDialog()"
        [disabled]="!canConfirm()"
      ></button>
    </div>
  </div>
</p-dialog>

<app-confirm-dialog
  [visible]="showConflictDialog"
  [title]="'Box occupato'"
  [message]="conflictMessage"
  (confirmed)="onConflictChoice($event)"
  (visibleChange)="showConflictDialog = $event"
></app-confirm-dialog>
