.fade-wrapper {
  opacity: 0;
  animation: fadeIn 0.5s forwards ease;
  transition: opacity 0.5s ease;
}

.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.content-wrapper {
  margin: 2rem 2rem;
}

.firma-box {
  width: 300px;
  height: 90px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.firma-label {
  margin-top: 0.5rem;
  text-align: end;
  color: #fff;
  font-size: 0.9rem;
}

.fade-out {
  opacity: 0 !important;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.regolamento-list {
  padding-left: 1.2rem;
  margin: 1.5rem 0;
  list-style-type: disc;
  font-size: 20px;

  li {
    margin-bottom: 1rem;
    line-height: 1.5;
  }
}

.button-row {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  width: 100%;
}

button {
  font-size: 1rem;
}
