<div *ngIf="loading" class="fade-wrapper loading-wrapper" [class.fade-out]="!loading">
  Caricamento…
</div>

<div *ngIf="!loading" class="fade-wrapper" [class.fade-out]="loading">
  <div class="content-wrapper">
    <div class="grid">
      <div class="col-11" style="font-size: 20px">
        <h2 class="text-center mb-5">Norme e Regolamento del Canile</h2>

        <p>
          Io sottoscritto/a <strong>{{ model.nome }} {{ model.cognome }}</strong
          >, nato/a a <strong>{{ model.luogo_di_nascita }}</strong> il
          <strong>{{ model.data_di_nascita | date : 'dd/MM/yyyy' }}</strong
          >, dichiaro di aver letto, compreso e accettato il seguente regolamento relativo
          all’ospitalità del mio animale presso la struttura.
        </p>

        <ul class="regolamento-list">
          <li>
            Il proprietario è tenuto a presentare il libretto sanitario aggiornato, comprensivo di
            vaccinazioni obbligatorie e profilassi antiparassitarie in corso di validità.
          </li>

          <li>
            I cani devono essere accompagnati in struttura puliti e privi di parassiti esterni; in
            caso contrario, il canile potrà procedere a trattamenti obbligatori a carico del
            proprietario.
          </li>

          <li>
            È consentita la visita al proprio animale esclusivamente ai proprietari e solo previo
            accordo con il personale del canile.
          </li>

          <li>
            L’orario di ingresso e di ritiro del cane deve essere concordato anticipatamente;
            eventuali ritardi possono comportare costi aggiuntivi.
          </li>

          <li>
            In caso di rinuncia o modifica della prenotazione, eventuali acconti versati non saranno
            rimborsati.
          </li>

          <li>
            La giornata di entrata viene sempre conteggiata come giorno completo, indipendentemente
            dall’orario di arrivo.
          </li>

          <li>
            Il canile declina ogni responsabilità in caso di malattia, fuga, morte o danni derivanti
            da condizioni preesistenti o non dichiarate dal proprietario.
          </li>

          <li>Per eventuali controversie è competente il FORO di BIELLA.</li>
        </ul>

        <p>
          Dichiaro inoltre che le informazioni fornite sono veritiere e che mi assumo ogni
          responsabilità per eventuali omissioni o dichiarazioni non corrette.
        </p>
      </div>

      <div class="col-6">
        <div class="data-box"><strong>Data:</strong> {{ today | date : 'dd/MM/yyyy' }}</div>
      </div>

      <div class="col-6">
        <div class="firma-box mt-5">
          <canvas #signatureCanvas></canvas>

          <div class="firma-label">Firma qui</div>
          <button
            type="button"
            pButton
            label="Compila automaticamente"
            class="p-button-text p-button-sm mt-2"
            (click)="autoSign()"
          ></button>
        </div>
      </div>
    </div>
    <div class="grid mt-5">
      <div class="col-12 flex justify-content-between mt-5 pt-5">
        <button pButton label="Riprova" class="p-button-sm"></button>
        <button pButton label="Conferma" (click)="onConfirm()" class="p-button-sm mr-4"></button>
      </div>
    </div>
  </div>
</div>
